/* ===============================
   MENU HAMBURGUER
   =============================== */

.menu-hamburguer {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.menu-hamburguer span {
    width: 28px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* MOBILE */
@media (max-width: 768px) {

    .menu-hamburguer {
        display: flex;
        position: absolute;
        right: 20px;
        top: 25px;
        z-index: 1100;
    }

    .header-nav {
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        background-color: #000;
        border-top: 1px solid #e7672a;

        transform: translateY(-150%);
        transition: transform 0.3s ease;
    }

    .header-nav ul {
        flex-direction: column;
        padding: 20px 0;
        gap: 20px;
        align-items: center;
    }

    .header-nav.active {
        transform: translateY(0);
    }

    /* ANIMAÇÃO DO ÍCONE */
    .menu-hamburguer.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-hamburguer.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-hamburguer.active span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
}
