    @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
        font-family: "PT Serif", serif;

    }

    .container {
        max-width: 1400px;
        margin: auto;
    }

    header {
        background-color: #000;
        height: 80px;
        border-bottom: 1px solid #e7662a71;

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        z-index: 1000;
    }


    .header-conteudo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-logo img {
        width: 79px;
    }

    .header-nav ul {
        display: flex;
        gap: 30px;
    }

    .header-nav ul li {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
    }

    .header-nav ul li:hover {
        color: #e7672a;
        font-size: 16px;
        font-weight: 700;
    }

    /*MAIN SECTION*/
.main-section {
    min-height: 100vh;
    background-image: url('../images/academia.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.main-section .container {
    min-height: 100vh;
    display: flex;
    align-items: center;      /* centraliza verticalmente */
    justify-content: flex-start; /* esquerda */
}

        

    .main-conteudo {
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 20px;
    }      

    .main-conteudo h1 {
        color: #fff;
        max-width: 700px;
        font-size: 80px;
        line-height: 80px;
    }

    .main-conteudo h1 span{
        color: #e7672a;
    }

    .main-conteudo p {
        color: #fff;
        font-size: 20px;
    }
    

    .btn {
        margin-top: 15px;
        width: 315px;
        height: 44px;
        background-color: #e7672a;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .btn img {
        width: 16px;
        height: 16px;
        color: white;
    }

    .btn {
        background: linear-gradient(135deg, #e7672a, #c94f1a);
        color: #fff;
        padding: 14px 28px;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 1px;

        border: none;
        border-radius: 6px;
        cursor: pointer;

        transition: all 0.3s ease;
        box-shadow: 0 6px 15px rgba(231, 103, 42, 0.35);
    }

    /* Hover */
    .btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 25px rgba(231, 103, 42, 0.55);
        background: linear-gradient(135deg, #ff7a3d, #e7672a);
    }

    /* Clique */
    .btn:active {
        transform: translateY(0);
        box-shadow: 0 4px 10px rgba(231, 103, 42, 0.35);
    }

    /* Acessibilidade */
    .btn:focus {
        outline: 2px solid #fff;
        outline-offset: 4px;
    }


/* INFORMAÇÕES SECTION  */
#info-section {
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 100px;
}

.info-conteudo {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.info-texto {

}

.info-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.info-texto h1 {
    font-size: 45px;
}

.info-texto p {
    margin-top: 10px;
    font-size: 18px;
    max-width: 800px;
    color: #ccc;
    text-align: justify;
}

.info-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
    background-color: #0d0d0d;
    border: 1px solid #e7672a;
    border-radius: 20px;
    max-width: 450px;
}

.info-card p {
    color: #ccc;
}

.info-card img{
   width: 70px;
}

/* NOSSA HISTORIA SECTION  */
#historia-section {
    background: linear-gradient(to bottom, #000000, #1d1d1d);
    padding-top: 100px;
    padding-bottom: 100px;
}

.historia-conteudo {

}

.titulo-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.titulo-historia h1{
    font-size: 45px;
    color: #fff;
}

.titulo-historia span{
    color: #e7672a;
}

.titulo-historia p{
    font-size: 18px;
    color: #ccc;
}


.carrosel {
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
}

.carrosel-track {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: scroll 30s linear infinite;
}

.carrosel-item {
    min-width: 500px;
    height: 300px;
    background-color: #222;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

/* ANIMAÇÃO */
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-30%);
    }
}

.carrosel:hover .carrosel-track {
    animation-play-state: paused;
}
